/*
#0A3240
#0A5066
#E6C88A
#BF9339
#595024
*/
/*body {
  background-color: #0A5066;
}*/
/*.container section {
  margin-top: 0px;
}*/

.container {
  margin-top: 5px;
}

main {
  background-color: #E6C88A;
}

/*navbar and header*/
.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
}

.background{
  background-image: url("../img/puerto-vallarta.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 !important;
  height: 300px;
}

.container-fluid{
  width: 70%;
}

.lead, .text-muted{
  display: none;
}


.jumbotron-heading {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  background-color: transparent;
  padding-top:20px;
  padding-bottom: 10px;

}

.jumbotron .container {
  max-width: 40rem;
}

.text-muted{
  color: black !important;
  background-color: rgba(242, 243, 244, 0.5);
  padding: 5px;
  border-radius: 5px;
}


footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
.bg-dark{
  background-color: #0A5066 !important;
}

h4{
  color: #0A5066 !important;
}



/*index page content*/
.card-deck{
  padding-top: 50px;
  padding-bottom: 50px;
}

.card{
  margin-top: 20px;
  height: 100%;
}
.arcos {
  background-image: url("../img/losarcos1.jpg");
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.arcos p, h1 {
  font-weight: bold;
  text-shadow: lightgrey 0 0 3px;
  background-color: rgba(0, 0, 0, 0.06);
  color: #0A3240;
}
.outdoor {
  background-image: url("../img/outdoor.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
}
.outdoor p, h1 {
  font-weight: bold;
  text-shadow: black 0 0 5px;
  background-color: rgba(256, 256, 256, 0.05);
  color: white;
}
.olas {
  background-image: url("../img/olasaltas.jpg");
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.olas p, h1 {
  font-weight: bold;
  text-shadow: lightgrey 0 0 3px;
  background-color: rgba(0, 0, 0, 0.06);
  color: #0A3240;
}
footer {
  background-color: #0A3240;
}
@media (min-width: 576px) {
  .background, .jumbotron{
    height: 600px;
  }
  .lead, .text-muted{
    display: block;
  }
  .jumbotron-heading {
    font-size: 3rem;
  }
}

  @media (min-width: 992px) {
  .jumbotron, .jumbotron-fluid {
    height: 800px;
  }
}
