/*
#0A3240
#0A5066
#E6C88A
#BF9339
#595024
#0A3240
#0A5066
#E6C88A
*/
body {
  background-color: #0A5066;
}
.main {
  background-color: #E6C88A;
}
.arcos {
  background-image: url("../img/losarcos1.jpg");
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  color: #031926;
}
.arcos p {
  font-weight: bold;
  text-shadow: lightgrey 0 0 3px;
  background-color: rgba(0, 0, 0, 0.06);
}
footer {
  background-color: #595024;
}
